<div class="row">
    <div class="column">
        <img src="static/img_nature.jpg" style="width:100%" alt="Nature" onclick="myFunction(this);">
    </div>
    <div class="column">
          <img src="static/img_snow.jpg" style="width:100%" alt="Snow" onclick="myFunction(this);">
    </div>
    <div class="column">
          <img src="static/img_mountains.jpg" style="width:100%" alt="Mountains" onclick="myFunction(this);">
    </div>
    <div class="column">
          <img src="static/img_lights.jpg" style="width:100%" alt="Lights" onclick="myFunction(this);">
    </div>
</div>

<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
</div> 
