<!doctype html>
<html>
  <head>
    {% block styles %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}"/>
    {% endblock %}
  </head>

  </body>
    {% block content %}

        <div class="column">

          <img id="logo" src="static/logo.jpg"></img>
  
          <form action="/results" method="POST">
            <div class="input_field">
              <input class="input" type="text" id="song" name="song"></input>
            </div>
    
            <input class="submit_button" type="submit" value="Search"></input>

          </form>
        </div>

    {% endblock %}
  </body>
</html>
