* {
  margin: 0;
  padding: 0;
  border: 0;
}

.row {
  display: flex;
}

.column {
  display: inline-block;
  width: 33.33333%;
  align-self: center;
}

#arrow {
  cursor: pointer;
}

#expandedScore {
  max-height: 99vh;
}
