* {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

#logo {
  padding-bottom: 35px;
}

.column {
  width: 100%;
  position: absolute;
  top: 20%;
}

input[type="text"] {
  width: 25%;
}

.input_field {
  padding-bottom: 35px;
}


