* {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

#logo {
  padding-bottom: 35px;
}

.column {
  width: 100%;
  position: absolute;
  top: 20%;
}

input[type="text"] {
  width: 25%;
  text-align: left;
}

.input_field {
  padding-bottom: 35px;
}

#loading {
  height: 100vh;
  width: 100vw;
  display: none;
  background: url(/static/loading.gif) no-repeat;
  cursor: wait;
  background-position: 50% 54%;
}
