.logo {
  text-align: center;
  padding-bottom: 35px;
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55%;
  margin: auto;
}

.input {
  padding-bottom: 35px;
  text-align: center;
}

.submit {
  text-align: center;
}

.submit_button {
  font-size: 20;
}
